@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --first-color: rgba(24, 25, 26, 255);
  --gray-100-v: rgba(58, 59, 60, 255);
  --light-first-color: rgba(49, 50, 51, 255);
  --secondary-color: rgb(235, 235, 235);
  --gray-75: rgb(97, 97, 97);
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--first-color);
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 250%;
}
