@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary: rgba(24, 25, 26, 255);
  --gray: rgba(58, 59, 60, 255);
  --light-primary: rgba(49, 50, 51, 255);
  --white: rgb(235, 235, 235);
  --light-gray: rgb(97, 97, 97);
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: var(--primary);
  color: var(--white);
}

a {
  color: var(--white);
  text-decoration: none;
}

h1 {
  font-size: 250%;
  margin: 0;
}

#side-content {
  background-color: var(--gray);
  padding: 1.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.profile-container {
  margin-left: auto;
  margin-right: auto;
}

.profile-container p {
  margin: 1em 0;
}

.profile-container .resume-btn {
  margin: 1em 0;
  padding: 0.6em;
  background-color: var(--light-gray);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

.profile-container .resume-btn i {
  padding-right: 0.3em;
  color: var(--white);
}

.table-of-contents-container {
  display: none;
}

.social-links-container {
  display: none;
}

.social-links-small {
  margin: 1em 0;
}

.social-links-small a {
  font-size: 1.3em;
  padding: 0.2em;
}

section {
  width: 100%;
  margin-bottom: 3em;
}
.main-container {
  margin: 1em;
}

.container-title {
  font-size: 1.5em;
  font-weight: 700;
}

.sub-container {
  background-color: var(--light-primary);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  border-radius: 10px;
}

#works_section .container-details {
  width: 85%;
}

.heading {
  font-weight: 500;
  margin: 0;
}

.subheading {
  font-size: 0.7em;
  margin-top: 0.2em;
}

.description {
  font-size: 1em;
  margin-bottom: 0;
}

.icon-container a {
  font-size: 1.3em;
}

#exp_section .img-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#exp_section img {
  margin-bottom: 1.2em;
  border-radius: 10px;
  font-style: italic;
}

#exp_section .skills-container {
  display: flex;
  flex-wrap: wrap;
}

#exp_section .skills-container .skill {
  background-color: var(--light-primary);
  margin: 0.2em;
  padding: 0.6em;
  border-radius: 5px;
}

.skills-container .skill p {
  margin: 0;
}

#contact_section .contact-container {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
}

.contact-container input,
textarea,
button {
  font-size: 0.9em;
  font-family: "Rubik", sans-serif;
  padding: 0.5em;
  margin: 0.4em 0;
  background-color: var(--gray);
  color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--gray);
}

.contact-container button {
  width: 5em;
  border: none;
}

.contact-container textarea {
  height: 8em;
}

.alert .success {
  background-color: rgba(209, 231, 221, 255);
  color: rgba(17, 81, 82, 255);
  padding: 0.5em;
  margin: 0.3em auto;
  border-radius: 5px;
  display: none;
}

.alert .danger {
  background-color: rgba(248, 215, 218, 255);
  color: rgba(132, 32, 42, 255);
  padding: 0.5em;
  margin: 0.3em auto;
  border-radius: 5px;
  display: none;
}

@media (min-width: 768px) {
  #side-content {
    text-align: left;
    max-width: 35%;
    position: fixed;
    background-color: var(--primary);
    padding: 2.5em 0 2.5em 5em;
  }

  #side-content p {
    max-width: 80%;
  }

  #side-content .table-of-contents-container {
    margin-bottom: 15px;
  }

  #side-content tbody td {
    width: 2em;
    padding-bottom: 0.5em;
  }

  #side-content tbody .icons {
    font-size: 1.3em;
  }

  #main-content {
    max-width: 50%;
    position: relative;
    left: 43%;
    padding: 2.5em;
  }
  #main-content .container-title {
    margin: 0;
  }
  .sub-container {
    padding: 1.2em;
  }

  .reveal {
    position: relative;
    transform: translateY(80px);
    opacity: 0;
    transition: all 1s ease;
  }

  .reveal.active {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .table-of-contents-container {
    display: block;
  }

  .social-links-container {
    display: block;
  }

  .social-links-small {
    display: none;
  }

  #exp_section .img-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .img-container img {
    height: 14.7em;
  }

  .contact {
    font-size: 250%;
  }

  .icon-container a {
    font-size: 1.5em;
  }

  /* #contact_section .contact-container {
    max-width: 80%;
    margin-left: 0;
    margin-right: 0;
  } */
}
